/**
 *  带环形菜单按钮,鼠标放上时自动展开样式
 */

/*整体容器*/
.button-circularMenu {
	position: relative;
}
.button-circularMenu:hover {
	z-index: 11;
}

/*中间内容样式*/
.button-circularMenu-middleContent {
	width: 50px;
	height: 50px;
	background-color: #EBEBEB;
	position: absolute;
	border-radius: 300px;
	z-index: 10;
}

/*圆形菜单容器*/
.button-circularMenu-menu {
	top:-50px;
	left:-50px;
	width: 150px;
	height: 150px;
	position: absolute;
	transition:.3s;
	background-color: rgba(51,103,214,0.5);
	border-radius: 100px;
	overflow:hidden;
	transform:scale(0);
}
/*鼠标放上中间元素时，显示圆形菜单容器，并移至圆形菜单上可以保持显示*/
.button-circularMenu-middleContent:hover + .button-circularMenu-menu,
.button-circularMenu-menu:hover {
	transform:scale(1);
}
/*鼠标放上时自动显示菜单元素动画*/
.button-circularMenu-middleContent:hover + .button-circularMenu-menu > .button-circularMenu-menuElement1,
.button-circularMenu-menu:hover > .button-circularMenu-menuElement1
{
	transform:rotate(90deg) skew(30deg);
	transition: .3s .3s;
	opacity: 1; 
}
.button-circularMenu-middleContent:hover + .button-circularMenu-menu > .button-circularMenu-menuElement2,
.button-circularMenu-menu:hover > .button-circularMenu-menuElement2{
	transform:rotate(150deg) skew(30deg);
	transition: .3s .6s;
	opacity: 1; 
}
.button-circularMenu-middleContent:hover + .button-circularMenu-menu > .button-circularMenu-menuElement3,
.button-circularMenu-menu:hover > .button-circularMenu-menuElement3{
	transform:rotate(210deg) skew(30deg);
	transition: .3s .9s;
	opacity: 1; 
}
.button-circularMenu-middleContent:hover + .button-circularMenu-menu > .button-circularMenu-menuElement4,
.button-circularMenu-menu:hover > .button-circularMenu-menuElement4{
	transform:rotate(270deg) skew(30deg);
	transition: .3s 1.2s;
	opacity: 1; 
}
.button-circularMenu-middleContent:hover + .button-circularMenu-menu > .button-circularMenu-menuElement5,
.button-circularMenu-menu:hover > .button-circularMenu-menuElement5{
	transform:rotate(330deg) skew(30deg);
	transition: .3s 1.5s;
	opacity: 1; 
}
.button-circularMenu-middleContent:hover + .button-circularMenu-menu > .button-circularMenu-menuElement6,
.button-circularMenu-menu:hover > .button-circularMenu-menuElement6{
	transform:rotate(30deg) skew(30deg);
	transition: .3s 1.8s;
	opacity: 1; 
}
/*菜单元素6个*/
.button-circularMenu-menuElement1, .button-circularMenu-menuElement2, .button-circularMenu-menuElement3, .button-circularMenu-menuElement4, .button-circularMenu-menuElement5, .button-circularMenu-menuElement6 {
	width: 75px;
	height: 75px;
	top: 0px;
	left: 0px;
	box-shadow:0 0 1px 1px rgb(67,54,28) inset;
	background: -webkit-linear-gradient(-45deg,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
	transform-origin:100% 100%;
	margin-left: auto; margin-right: auto;text-align:center;
	overflow:hidden;
	position: absolute;
	opacity: 0; 
}
.button-circularMenu-menuElement1 {
	transform:rotate(180deg) skew(30deg);
	z-index: 7;
}
.button-circularMenu-menuElement2 {
	transform:rotate(240deg) skew(30deg);
	z-index: 6;
}
.button-circularMenu-menuElement3 {
	transform:rotate(300deg) skew(30deg);
	z-index: 5;
}
.button-circularMenu-menuElement4 {
	transform:rotate(360deg) skew(30deg);
	z-index: 4;
}
.button-circularMenu-menuElement5 {
	transform:rotate(390deg) skew(30deg);
	z-index: 3;
}
.button-circularMenu-menuElement6 {
	transform:rotate(90deg) skew(30deg);
	z-index: 2;
}
/*菜单元素文本内容*/
.button-circularMenu-menuElementText1,.button-circularMenu-menuElementText2,.button-circularMenu-menuElementText3,.button-circularMenu-menuElementText4,.button-circularMenu-menuElementText5,.button-circularMenu-menuElementText6{
	top:25px;
	left:22px;
	font-size: 1em;
	line-height: 50px;
	height: 50px;
	width:50px;
	margin-left: auto; margin-right: auto;
	text-align:center;
	position: absolute;
}
.button-circularMenu-menuElementText1{
	transform: skew(-30deg) rotate(-90deg);
}
.button-circularMenu-menuElementText2{
	transform: skew(-30deg) rotate(-150deg);
}
.button-circularMenu-menuElementText3{
	transform: skew(-30deg) rotate(-210deg);
}
.button-circularMenu-menuElementText4{
	transform: skew(-30deg) rotate(-270deg);
}
.button-circularMenu-menuElementText5{
	transform: skew(-30deg) rotate(-330deg);
}
.button-circularMenu-menuElementText6{
	transform: skew(-30deg) rotate(-30deg);
}

