/**
 * 	大地图界面、及其中组件的样式
 */
/* 向北移动按钮样式 （上箭头）*/

.botton-moveInside{
	width: 60px;
	height: 60px;
	position: absolute;
}
.botton-moveInside:hover .botton-moveArrow,.botton-moveInside:hover .botton-moveArrow{
	box-shadow: 0px 0px 1px 1px rgb(100,100,100), 0px 0px 0px 10px rgb(233,224,170) inset, 0px 0px 3px 11px rgb(100,100,100) inset, 0px 0px 3px 11px rgb(170,150,95) inset;
}
.botton-moveInside:active .botton-moveArrow,.botton-moveInside:active .botton-moveArrow{
	box-shadow: 0px 0px 1px 1px rgb(100,100,100), 0px 0px 0px 10px rgb(193,184,130) inset, 0px 0px 3px 11px rgb(100,100,100) inset, 0px 0px 3px 11px rgb(170,150,95) inset;
}

.botton-moveArrow {
	width: 60px;
	height: 60px;
	text-align: center;
	position: absolute;
	box-shadow: 0px 0px 1px 1px rgb(100,100,100), 0px 0px 0px 10px rgb(213,204,150) inset, 0px 0px 3px 11px rgb(100,100,100) inset, 0px 0px 3px 11px rgb(170,150,95) inset;
	border-radius: 2px;
	background-color: rgba(255,255,255,0);
	transform: rotateX(50deg) rotate(45deg);
	top: 0px;
	left:15px;
}
.botton-moveBlock {
	width: 88px;
	height: 29px;
	position: absolute;
	background-color: rgba(200,180,125,1);/*不透明，需要与所在面板颜色一致*/
	top: 30px;
	left:1px;
	overflow: hidden;
}
.botton-moveBlock:before {
	content: "";
	width: 14px;
	height: 0px;
	position: absolute;
	box-shadow: 2px -1px 2px 2px rgb(100,100,100), 0px 0px 2px 2px rgb(170,150,95) inset;
	background-color: rgba(255,255,255,0);
	left: 1px;
}
.botton-moveBlock:after {
	content: "";
	width: 14px;
	height: 0px;
	position: absolute;
	box-shadow: -2px -1px 2px 2px rgb(100,100,100), 0px 0px 2px 2px rgb(170,150,95) inset;
	background-color: rgba(255,255,255,0);
	right: 1px;
}

.botton-moveTopText{
	text-align: center;
	width: 88px;
	height: 20px;
	top:27px;
	position: absolute;
}

.button-move{
	top:3px;
	left:381px;
	width:89px;
	height:55px;
	position:absolute;
}

/**
 * 	旋转方向180°朝下
 */
.direction-downward{
	transform:rotate(180deg);
}


/* 向东移动按钮样式 （右箭头）*/

/* 向南移动按钮样式（下箭头） */

/* 向西移动按钮样式 */