body {
	background: #bdc3c7;
	margin: 0;
	padding: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	font-family: LiSu ;
}
/**
 * 	背景桌布
 */
.main-desktop {
	background: #2c3e50;
	border-radius: 5px;
	width: 1100px;
	height: 600px;
	margin: 5px auto;
	padding: 20px 75px 0px 75px;
}
.public{
	transition: 0.5s;
	display: inline-block;
	position: absolute;
	z-index: 1;
}
/**
 *  场景桌面
 */
.scene-desktop {
	background: #bdc3c7;
	border-radius: 5px;
	width: 950px;
	height: 550px;
	position: absolute;
	transition: 0.5s;
	overflow:hidden;
	z-index: 1;
	display: inline-block;
}
/**
 * 	隐藏特效（扩张消失）
 */
.hide-expand {
	opacity: 0;
	z-index: 0;
	transform: scale(1.1);
}
/**
 * 	隐藏特效（缩小消失）
 */
.hide-shrink {
	opacity: 0;
	z-index: 0;
	transform: scale(0);
}
/**
 * 	开始菜单
 */
.menu-start{
	width:170px;
	height:300px;
	position: absolute;
	bottom: 50px;
	left:50px;
	margin: 5px;
	padding:5px;
	border: 3px ridge #474B64;
	border-radius: 4px;
	background-color: rgba(43,49,60,0.75);
	text-align: center;
}
/**
 * 	面板（外层，半透明）
 */
.panel-outerlayer {
	margin: 5px;
	border: 3px ridge #BEBEBE /*#474B64*/;
	border-radius: 4px;
	background-color: rgba(43,49,60,0.75);
	z-index: 1;
	position: relative;
	transition:0.2s;
	display: inline-block;
}

/**
 * 	面板框标题栏
 */
.panel-title {
	background: repeating-linear-gradient(#BEBEBE 1%,#717171 100%);
	color: #3C3C3C;/*#E4E6E5;*/
	border-radius: 2px;
	padding-left: 3px;
	margin-bottom: 10px;
	text-align: center;
	text-shadow: 0px 0px 5px #E6E6E6;
	display: inline-block;
	position: absolute;
}
/**
 * 	面板（内层，不透明）
 */
.panel-innerlayer {
	border: 2px ridge #474B64;
	border-radius: 3px;
	margin: 2px 0px 2px 0px;
	background-color: #BEBEBE;
	border-radius: 3px;
	transition: 0.1s;
	position: absolute;
	text-align: center;
	display: inline-block;
}
/**
 * 右上角的关闭按钮
 */
.botton-colse {
	border: 2px ridge #474B64;
	border-radius: 15px;
	padding: 1px;
	padding-left: 2px;
	background: repeating-linear-gradient(#BEBEBE 1%,#717171 100%);
	color: #474B64;
	position: absolute;
	top: -8px;
	right: -8px;
	z-index: 99;
	line-height: 14px;
    text-align: center;
    height: 23px;
    width: 23px;
    font-size: 15px;
    text-shadow: 1px 1px 1px #E6E6E6;
}
.botton-colse:before {
    content: "\2716";
}
.botton-colse:hover{
	cursor: pointer;
}
.botton-colse:active {
	padding-top: 3px;
	background: repeating-linear-gradient(#717171 1%,#BEBEBE 100%);
}
.botton-start{
	border: 2px outset #717171;
	border-radius: 3px;
	display: inline-block;
	margin: 2px 0px 2px 0px;
	background-color: #BEBEBE;
	border-radius: 3px;
	transition: 0.1s;
	font-size: 1.5em;
	text-align: center;
}
.botton-start:hover{
	transform: scaleX(1.05) scaleY(1.05);
	cursor: pointer;
}
.botton-start:active {
	border: 2px inset;
	background-color: #DCDCDC
}
/*
@media all, screen and (orientation: landscape)
.status {
    position: relative;
    width: 90px;
    height: 40px;
    cursor: default;
    margin: 2px;
    padding: 2px;
    float: left;
    text-align: center;
    border: solid 1px;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 1em;
    transition: 0.5s;
}*/