body {
	background: #bdc3c7;
	margin: 0;
	padding: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	font-family: LiSu;
}
/**
 * 	公共属性部分
 */
.public {
	transition: 0.5s;
	display: inline-block;
	position: absolute;
	z-index: 1;
}
/**
 * 	隐藏特效（扩张消失）
 */
.hide-expand {
	opacity: 0;
	z-index: 0;
	transform: scale(1.1);
}
/**
 * 	隐藏特效（缩小消失）
 */
.hide-shrink {
	opacity: 0;
	z-index: 0;
	transform: scale(0);
}
/**
 * ========以上为通用公共属性==========
 */
/**
 * 	=======场景桌面======
 */
/**
 * 	背景桌布
 */
.main-desktop {
	background: #2c3e50;
	border-radius: 5px;
	width: 1100px;
	height: 600px;
	margin: 5px auto;
	padding: 20px 75px 0px 75px;
}
/**
 *  场景桌面
 */
.scene-desktop {
	background: #bdc3c7;
	border-radius: 5px;
	width: 950px;
	height: 550px;
	position: absolute;
	transition: 0.5s;
	overflow: hidden;
	z-index: 1;
	display: inline-block;
}
/**
 * 	=======面板======
 */
/**
 * 	面板（不透明）
 */
.panel {
	border: 2px ridge #474B64;
	border-radius: 3px;
	/*margin: 2px 0px 2px 0px;*/
	background-color: #BEBEBE;
	border-radius: 3px;
	transition: 0.1s;
	position: relative;
	text-align: center;
	display: inline-block;
}
/**
 * 	面板（外层，半透明，有边框和边距）
 */
.panel-transparent {
	margin: 5px;
	border: 3px ridge #BEBEBE/*#474B64*/;
	border-radius: 4px;
	background-color: rgba(43,49,60,0.75);
	z-index: 1;
	position: absolute;
	transition: 0.2s;
	display: inline-block;
}
/**
 * 	面板框标题栏
 */
.panel-title {
	background: repeating-linear-gradient(#BEBEBE 1%,#717171 100%);
	color: #3C3C3C;/*#E4E6E5;*/
	border-radius: 2px;
	padding-left: 3px;
	margin-bottom: 10px;
	text-align: center;
	text-shadow: 0px 0px 5px #E6E6E6;
	display: inline-block;
	position: relative;
}
/**
 * 	表格单元格tb样式
 */
.panel-table-tb{
	border: 2px ridge #474B64;
	border-radius: 3px;
	background-color: #BEBEBE;
	border-radius: 3px;
	transition: 0.1s;
	position: relative;
	text-align: center;
	display: inline-block;
}
/**
 * 	=======按钮======
 */
/**
 * 右上角的关闭按钮
 */
.botton-colse {
	border: 2px ridge #474B64;
	border-radius: 15px;
	padding: 1px;
	padding-left: 2px;
	background: repeating-linear-gradient(#BEBEBE 1%,#717171 100%);
	color: #474B64;
	position: absolute;
	top: -8px;
	right: -8px;
	z-index: 99;
	line-height: 14px;
	text-align: center;
	height: 23px;
	width: 23px;
	font-size: 15px;
	text-shadow: 1px 1px 1px #E6E6E6;
}
.botton-colse:before {
	content: "\2716";
}
.botton-colse:hover {
	cursor: pointer;
}
.botton-colse:active {
	padding-top: 3px;
	background: repeating-linear-gradient(#717171 1%,#BEBEBE 100%);
}
/**
 * 	下拉菜单按钮
 */
.botton-dropdown {
	border: 2px groove #080808;
	border-radius: 3px;
	width:35px;
	height:35px;
	background-color: #EC971F;
	border-radius: 3000px;
	font-size: 1em;
	text-align: center;
	vertical-align:middle;
	transition: 0.1s;
	line-height:200%;
	font-weight:600;
}
.botton-dropdown:hover {
	transform: scaleX(1.05) scaleY(1.05);
	cursor: pointer;
}
.botton-dropdown:active {
	border: 2px inset;
	background-color: #DCDCDC
}
/**
 * 	=======角标======
 */
/**
 * 	角标右下
 */
.lowerright {
	bottom: 1px;
	right: 1px;
}
/**
 * 	角标右上
 */
.upperright {
	top: 1px;
	right: 1px;
}
/**
 * 	角标
 */
.cornersign {
	height: 15px;
	width: 15px;
	background-color: #2AABD2;
	border-radius: 8px;
	position: absolute;
	padding: 1px;
	padding-left: 2px;
	z-index: 99;
	line-height: 14px;
	text-align: center;
	font-size: 10px;
	font-weight: 600;
}
/**
 * 	======菜单======
 */
/**
 * 	下拉菜单
 */
.dropdown {
	position: absolute;
/*
	margin: 5px;
	border: 3px ridge #474B64;
	border-radius: 100px;
	background-color: rgba(43,49,60,0.75);
	transition: 0.2s;
	*/
	text-align: center;
}