<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>index</title>
		<meta name="description" content="">
		<meta name="author" content="LC">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		
		<link href="css/main.css" rel="stylesheet">
		<link href="css/menu.css" rel="stylesheet">
		<link href="css/panel.css" rel="stylesheet">
		<link href="css/steeringWheel.css" rel="stylesheet">
		
	</head>

	<body>
		<div class="main-desktop">
			<div ng-app="myApp" ng-controller="main-scene" class="main-scene">
				<div class="menu-background" style="top:20px;left:20px;">
				<div ng-controller="menu" class="menu">{{pram1}}
					<div class="menu-list" ng-repeat="x in prams">
						<div class="menu-list-background"></div>
						<div class="menu-list-background2"></div>
						<div class="menu-list-content">{{x}}</div>
					</div>
				</div>
				</div>
				<div class="panel" style="bottom:20px;left:20px;">
					<div>{{pram1}}</div>
					<div class="panel-lamp"></div>
				</div>
				<div class="panel2" style="top:10px;right:10px;">
					<span>中文</span>
					<span>中文</span>
				</div>
				<div class="panel3" style="top:60px;right:20px;">
					<div class="panel3-tittle">
						标题
					</div>
				</div>
				<div ng-controller="steeringWheel" class="steeringWheel" style="bottom:55px;right:80px;">
					<div ng-repeat="x in arrows">
						<div ng-class="{'steeringWheel-upperArrow':{{x}}=='1','steeringWheel-rightArrow':{{x}}=='2','steeringWheel-lowerArrow':{{x}}=='3','steeringWheel-leftArrow':{{x}}=='4'}"><!--steeringWheel-upperArrow-->
							<span style="display: none">{{$index+1}}</span>
							<div ng-click="upClick($index)" ng-class="{'steeringWheel-upperArrow-graphical':{{x}}=='1','steeringWheel-rightArrow-graphical':{{x}}=='2','steeringWheel-lowerArrow-graphical':{{x}}=='3','steeringWheel-leftArrow-graphical':{{x}}=='4'}">
								<div class="steeringWheel-arrow1"></div>
								<div class="steeringWheel-arrow2"></div>
								<div class="steeringWheel-arrow3"></div>
								<div class="steeringWheel-arrow4"></div>
								<div class="steeringWheel-arrow5"></div>
							</div>
							<!-- steeringWheel-upperArrow-shadow	-->
							<div ng-class="{'steeringWheel-upperArrow-shadow':{{x}}=='1','steeringWheel-rightArrow-shadow':{{x}}=='2','steeringWheel-lowerArrow-shadow':{{x}}=='3','steeringWheel-leftArrow-shadow':{{x}}=='4','steeringWheel-upperArrow-shadow-jsAnimation':{{x}}+'-1'==animation}">
								<div class="steeringWheel-arrow1"></div>
								<div class="steeringWheel-arrow2"></div>
								<div class="steeringWheel-arrow3"></div>
								<div class="steeringWheel-arrow4"></div>
								<div class="steeringWheel-arrow5"></div>
							</div>
							<div ng-class="{'steeringWheel-upperArrow-shadow':{{x}}=='1','steeringWheel-rightArrow-shadow':{{x}}=='2','steeringWheel-lowerArrow-shadow':{{x}}=='3','steeringWheel-leftArrow-shadow':{{x}}=='4','steeringWheel-upperArrow-shadow-jsAnimation':{{x}}+'-2'==animation}">
								<div class="steeringWheel-arrow1"></div>
								<div class="steeringWheel-arrow2"></div>
								<div class="steeringWheel-arrow3"></div>
								<div class="steeringWheel-arrow4"></div>
								<div class="steeringWheel-arrow5"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/angular.js"></script>
		<script src="js/main.js"></script>
		<script>
			
			var app = angular.module('myApp', []);
			var testObj = new Object();
			app.controller('main-scene', function($scope, $rootScope) {
			     $scope.pram = [testObj];
			     $rootScope.pram1="测试1";
			});
			app.controller('menu', function($scope, $rootScope) {
			     $scope.prams = ["选项1","选项2","选项3","选项4","选项5","选项6","选项7","选项8","选项9","选项10","选项11","选项12","选项13","选项14","选项15"];
				 $scope.pram1="测试2";
			});
			testObj.name = "test Name";
			
			app.controller('steeringWheel',function($scope, $rootScope) { 
				$scope.arrows=["1","2","3","4"];
				var sign = "-1";
				$scope.upClick = function(i) {
					if (sign=="-1"){
						sign="-2";
					}else{
						sign="-1";
					}
					$scope.animation = (i+1) + sign;
				};
			}); 
			//定义数据层
			//
			
		</script>
		
	</body>
</html>

