<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>index</title>
		<meta name="description" content="">
		<meta name="author" content="LC">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		
		<link href="css/main.css" rel="stylesheet">
		<link href="css/menu.css" rel="stylesheet">
		<link href="css/panel.css" rel="stylesheet">
		<link href="css/steeringWheel.css" rel="stylesheet">
		
	</head>

	<body>
		<div class="main-desktop">
			<div ng-app="myApp" ng-controller="main-scene" class="main-scene">
				<div class="menu-background" style="top:20px;left:20px;">
				<div ng-controller="menu" class="menu">{{pram1}}
					<div class="menu-list" ng-repeat="x in prams">
						<div class="menu-list-background"></div>
						<div class="menu-list-background2"></div>
						<div class="menu-list-content">{{x}}</div>
					</div>
				</div>
				</div>
				<div class="panel" style="bottom:20px;left:20px;">
					<div>{{pram1}}</div>
					<div class="panel-lamp"></div>
				</div>
				<div class="panel2" style="top:10px;right:10px;">
					<span>中文</span>
					<span>中文</span>
				</div>
				<div class="panel3" style="top:60px;right:20px;">
					<div class="panel3-tittle">
						标题
					</div>
				</div>
				<div class="steeringWheel" style="bottom:55px;right:80px;">
					<div class="steeringWheel-upperArrow" ng-click="upClick()">
						<div class="steeringWheel-arrow1"></div>
						<div class="steeringWheel-arrow2"></div>
						<div class="steeringWheel-arrow3"></div>
						<div class="steeringWheel-arrow4"></div>
						<div class="steeringWheel-arrow5"></div>
					</div>
					<div class="steeringWheel-rightArrow">
						<div class="steeringWheel-arrow1"></div>
						<div class="steeringWheel-arrow2"></div>
						<div class="steeringWheel-arrow3"></div>
						<div class="steeringWheel-arrow4"></div>
						<div class="steeringWheel-arrow5"></div>
					</div>
					<div class="steeringWheel-lowerArrow">
						<div class="steeringWheel-arrow1"></div>
						<div class="steeringWheel-arrow2"></div>
						<div class="steeringWheel-arrow3"></div>
						<div class="steeringWheel-arrow4"></div>
						<div class="steeringWheel-arrow5"></div>
					</div>
					<div class="steeringWheel-leftArrow">
						<div class="steeringWheel-arrow1"></div>
						<div class="steeringWheel-arrow2"></div>
						<div class="steeringWheel-arrow3"></div>
						<div class="steeringWheel-arrow4"></div>
						<div class="steeringWheel-arrow5"></div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/angular.js"></script>
		<script src="js/main.js"></script>
		<script>
			
			var app = angular.module('myApp', []);
			var testObj = new Object();
			app.controller('main-scene', function($scope, $rootScope) {
			     $scope.pram = [testObj];
			     $rootScope.pram1="测试1";
			     $scope.upClick = function(){
			     	alert("upClick");
			     };
			});
			app.controller('menu', function($scope, $rootScope) {
			     $scope.prams = ["选项1","选项2","选项3","选项4","选项5","选项6","选项7","选项8","选项9","选项10","选项11","选项12","选项13","选项14","选项15"];
				 $scope.pram1="测试2";
			});
			testObj.name = "test Name";
			
			//定义数据层
			//
			
		</script>
		
	</body>
</html>

