.map3d-floor {
	left: -200px;
	top: -200px;
	width: 1000px;
	height: 1000px;
	background: rgba(156,148,126,0.9);
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	transition: 0.6s;
	position: absolute;
	/*transform: rotateX(45deg) rotateZ(-30deg);*/
}
/*
 .map3d-floor:hover {
 animation: rotateHAHA 8s linear infinite;
 }
 @keyframes rotateHAHA{
 0%{
 transform:rotateX(45deg) rotateZ(0deg);
 }
 100%{
 transform:rotateX(45deg) rotateZ(360deg);
 }
 }
 */

.map3d-cube {
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	/*全地图定位*/
	transform: translateX(0px) translateY(0px) translateZ(50px);
}

.map3d-side1, .map3d-side2, .map3d-side3 {
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	position: absolute;
	background: rgb(114,110,97);
	text-align: center;
}
/*半阴影面*/
.map3d-side2 {
	background: rgb(104,99,86);
}
/*阴影面*/
.map3d-side3 {
	background: rgb(92,87,76);
}

/*
 * width = 长度（立方体横向X轴）
 * height = 宽度（立方体纵向Y轴）
 * translateZ = 高度（立方体Z轴）/2
 */
.map3d-bottom {
	width: 100px;
	height: 200px;
	transform: translateX(-50%) translateY(-50%) rotateY(180deg) translateZ(50px);
}
.map3d-top {
	width: 100px;
	height: 200px;
	transform: translateX(-50%) translateY(-50%) translateZ(50px);
}

/*
 * width = 长度（立方体横向X轴）
 * height = 高度（立方体Z轴）
 * translateZ = 宽度（立方体纵向Y轴）/2
 */
.map3d-front {
	width: 100px;
	height: 100px;
	transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(100px);
}
.map3d-back {
	width: 100px;
	height: 100px;
	transform: translateX(-50%) translateY(-50%) rotateY(180deg) rotateX(90deg) translateZ(100px);
}

/*
 * width = 宽度（立方体纵向Y轴）
 * height = 高度（立方体Z轴）
 * translateZ = 长度（立方体横向X轴）/2
 */
.map3d-right {
	width: 200px;
	height: 100px;
	transform: translateX(-50%) translateY(-50%) rotateX(-90deg) rotateY(90deg) translateZ(50px);
}
.map3d-left {
	width: 200px;
	height: 100px;
	transform: translateX(-50%) translateY(-50%) rotateX(-90deg) rotateY(-90deg) translateZ(50px);
}

/*其余固定地面装饰*/
.map3d-decorate1,.map3d-decorate2,.map3d-decorate3,.map3d-decorate4,.map3d-decorate5
,.map3d-decorate6,.map3d-decorate7,.map3d-decorate8,.map3d-decorate9,.map3d-decorate10{
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	position: absolute;
}
.map3d-decorate1{
	width: 200px;
	height: 10px;
	background: rgb(92,87,76);
	transform: translateX(100px) translateY(495px) translateZ(0px);
}
.map3d-decorate2{
	width: 200px;
	height: 10px;
	background: rgb(92,87,76);
	transform: translateX(700px) translateY(495px) translateZ(0px);
}
.map3d-decorate3{
	width: 10px;
	height: 200px;
	background: rgb(92,87,76);
	transform: translateX(495px) translateY(100px) translateZ(0px);
}
.map3d-decorate4{
	width: 10px;
	height: 200px;
	background: rgb(92,87,76);
	transform: translateX(495px) translateY(700px) translateZ(0px);
}
.map3d-decorate5{
	width: 390px;
	height: 390px;
	border: rgba(92,87,76) solid 10px;
	border-radius: 300px;
	transform: translateX(295px) translateY(295px) translateZ(0px);
}
/*荧光效果*/
.map3d-decorate6{
	width: 200px;
	height: 2px;
	background:#6cc3fe;
	animation: twinkle 6s linear infinite;
	transform: translateX(100px) translateY(499px) translateZ(0px);
}
.map3d-decorate7{
	width: 200px;
	height: 2px;
	background:#6cc3fe;
	animation: twinkle 6s linear infinite;
	transform: translateX(700px) translateY(499px) translateZ(0px);
}
.map3d-decorate8{
	width: 2px;
	height: 200px;
	background:#6cc3fe;
	animation: twinkle 6s linear infinite;
	transform: translateX(499px) translateY(100px) translateZ(0px);
}
.map3d-decorate9{
	width: 2px;
	height: 200px;
	background:#6cc3fe;
	animation: twinkle 6s linear infinite;
	transform: translateX(499px) translateY(700px) translateZ(0px);
}
.map3d-decorate10{
	width: 398px;
	height: 398px;
	border: #6cc3fe solid 2px;
	border-radius: 300px;
	animation: twinkle2 6s linear infinite;
	transform: translateX(299px) translateY(299px) translateZ(0px);
}

@keyframes twinkle{
	0% {
		opacity:.2;
		box-shadow:0 1px 2px rgba(255,255,255,0.1);
	}
	20% {
		opacity:.2;
		box-shadow:0 1px 2px rgba(255,255,255,0.1);
	}
	47% {
		opacity:1;
		box-shadow:0 1px 20px rgba(59,255,255,1);
	}
	53% {
		opacity:1;
		box-shadow:0 1px 20px rgba(59,255,255,1);
	}
	80% {
		opacity:.2;
		box-shadow:0 1px 2px rgba(255,255,255,0.1);
	}
	100% {
		opacity:.2;
		box-shadow:0 1px 2px rgba(255,255,255,0.1);
	}
}
@keyframes twinkle2{
	0% {
		opacity:.2;
		box-shadow:0 1px 2px rgba(255,255,255,0.1),
		0 1px 2px rgba(255,255,255,0.1) inside;
	}
	20% {
		opacity:.2;
		box-shadow:0 1px 2px rgba(255,255,255,0.1),
		0 1px 2px rgba(255,255,255,0.1) inside;
	}
	47% {
		opacity:1;
		box-shadow:0 1px 20px rgba(59,255,255,1),
		0 1px 20px rgba(59,255,255,1) inside;
	}
	53% {
		opacity:1;
		box-shadow:0 1px 20px rgba(59,255,255,1),
		0 1px 20px rgba(59,255,255,1) inside;
	}
	80% {
		opacity:.2;
		box-shadow:0 1px 2px rgba(255,255,255,0.1),
		0 1px 2px rgba(255,255,255,0.1) inside;
	}
	100% {
		opacity:.2;
		box-shadow:0 1px 2px rgba(255,255,255,0.1),
		0 1px 2px rgba(255,255,255,0.1) inside;
	}
}

/*交互对象标识*/
.map3d-obj {
	width: 10px;
	height: 10px;
	background: rgb(214,110,097);
	border: #000000 solid 2px;
	border-radius: 100px;
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	transform: translateX(0) translateY(0) translateZ(1px);"
	position: absolute;
}
.map3d-button{
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	position: absolute;
}
