.panelFight {
	top: 20px;
	left: 20px;
	width: 900px;
	height: 500px;
	position: relative;
}
.panelFight-objInfo, .panelFight-roleInfo {
	width: 500px;
	height: 100px;
	//background-color: rgb(235,230,205);
	transition: 0.6s;
	position: absolute;
}
.panelFight-objInfo {
	top: 5px;
	right: 5px;
}
.panelFight-roleInfo {
	bottom: 5px;
	left: 5px;
}

.panelFight-lattice {
	width: 500px;
	height: 20px;
	line-height: 20px;
	//border: 1px solid rgb(154,150,132);
	position: relative;
}

.panelFight-lattice-prefix
,.panelFight-lattice-enemyPrefix{
	width: 50px;
	height: 20px;
	line-height: 20px;
	position: absolute;
}
.panelFight-lattice-prefix{
	text-align: right;
	left: 5px;
}
.panelFight-lattice-enemyPrefix{
	text-align: left;
	right:5px;
}

.panelFight-lattice-value 
,.panelFight-lattice-enemyValue{
	width: 150px;
	height: 20px;
	line-height: 20px;
	position: absolute;
}
.panelFight-lattice-value{
	left: 70px;
}
.panelFight-lattice-enemyValue{
	text-align: right;
	right: 70px;
}
/*进度条*/
.panelFight-bar-grey, .panelFight-bar-red 
,.panelFight-bar-enemy-grey,.panelFight-bar-enemy-red {
	width: 400px;
	height: 5px;
	border: 1px solid rgb(154,150,132);
	bottom: 5px;
	transition: 0.4s;
	position: absolute;
}
.panelFight-bar-grey, .panelFight-bar-red {
	left: 65px;
}
,.panelFight-bar-enemy-grey,.panelFight-bar-enemy-red {
	right: 65px;
}
.panelFight-bar-grey,.panelFight-bar-enemy-grey{
	background-color: rgb(172,167,146);
}
.panelFight-bar-red,.panelFight-bar-enemy-red{
	background-color: rgb(187,93,80);
}
.panelFight-bar-block {
	width: 400px;
	height: 20px;
	left: 65px;
	background-image:linear-gradient(90deg, rgb(198,193,170) 20%, transparent 20%, transparent)
					,linear-gradient(rgb(198,193,170) 20%, transparent 20%, transparent)
					,linear-gradient(90deg, transparent 80%, rgb(198,193,170) 80%)
					,linear-gradient( transparent 80%, rgb(198,193,170) 80%)
					,linear-gradient(90deg, rgb(159,154,132) 30%, transparent 30%, transparent)
					,linear-gradient(rgb(159,154,132) 30%, transparent 30%, transparent)
					,linear-gradient(90deg, transparent 70%, rgb(159,154,132) 70%)
					,linear-gradient( transparent 70%, rgb(159,154,132) 70%);
	background-size: 20px 20px;
	background-color:rgb(184,179,155);
	position: absolute;
}
/*buff图标框*/
.panelFight-lattice-buffimg{
	width: 20px;
	height: 20px;
	margin:0px 0px 0px 5px;
	border: 1px solid rgb(154,150,132);
	display: inline-block;
	position:relative;
}
.panelFight-lattice-buffimg-info{
	width: 200px;
	top:-30px;
	left:5px;
	border: 1px solid rgb(154,150,132);
	display:none;
	position:absolute;
}
.panelFight-lattice-buffimg:hover > .panelFight-lattice-buffimg-info{
	display:inherit;
}
.panelFight-lattice-buffimg-roundNum{
	width:10px;
	height:10px;
	line-height:10px;
	bottom:0px;
	right:0px;
	font-size: xx-small;
	overflow:hidden;
	position:absolute;
}
/*-----战斗数据显示区域------*/
.panelFight-battleInfo{
	width:550px;
	height:280px;
	top:80px;
	left:230px;
	font-size: small;
	overflow:hidden;
	white-space:normal;
    word-break:break-all;
    word-wrap:break-word; 
	position:absolute;
}
/*-----战斗动作菜单-----*/
/*次级菜单*/
/*
.panelFight-actionButton-nextMenu{
	top:-20px;
	right: -280px;
	width: 270px;
	height: 350px;
	border: 1px solid rgb(154,150,132);
	display:none;
	position: absolute;
}
.menuAuto-list:hover > .panelFight-actionButton-nextMenu{
	display:inherit;
}
*/
/*快捷释放*/
.panelFight-quick{
	top:150px;
	width:210px;
	height:230px;
	position: absolute;
}
.panelFight-quick-unit{
	width:200px;
	height:30px;
	margin: 3px;
	position: relative;
}
/*左边的圆形按钮*/
.panelFight-quick-unit-prefixButton{
	width:30px;
	height:30px;
	line-height:28px;
	border-radius:40px;
	font-size:150%;
	text-align:center;
	background:rgb(215,210,185);
	box-shadow: 0px 0px 1px 0px rgb(80,80,80),0px 0px 1px 0px rgb(80,80,80) inset;
	transition:0.1s;
	position: absolute;
}
.panelFight-quick-unit-prefixButton:hover{
	background-color:rgb(72,69,60);
	color: rgb(252,245,216);
}
.panelFight-quick-unit-prefixButton:active{
	background:rgb(155,150,125);
	color: rgb(252,245,216);
}
/*右边的文字展示按钮*/
.panelFight-quick-unit-button{
	top:8px;
	left:20px;
	width:150px;
	height:20px;
	background-color:rgb(215,210,185);
	box-shadow: 1px 1px 0px 0px rgb(152,151,130);
	text-align:center;
	transform: skew(-30deg,0deg) ;
	border: 1px solid rgb(154,150,132);
	position: absolute;
}
.panelFight-quick-unit-button-content{
	left:5px;
	width:140px;
	height:20px;
	line-height:20px;
	text-align:center;
	transform: skew(30deg,0deg) ;
	position: absolute;
}
.panelFight-quick-unit-button:hover{
	background-color:rgb(72,69,60);
	color: rgb(252,245,216);
}
.panelFight-quick-unit-button:active{
	background:rgb(155,150,125);
	color: rgb(252,245,216);
}
