.panelFight{
	top:20px;
	left:20px;
	width:900px;
	height:500px;
	position: relative;
}
.panelFight-objInfo,
.panelFight-roleInfo{
	width:500px;
	height:100px;
	background-color:rgb(235,230,205);
	transition:0.6s;
	position: absolute;
}
.panelFight-objInfo{
	top:5px;
	right: 5px;
}
.panelFight-roleInfo{
	bottom:5px;
	left: 5px;
}

.panelFight-HP{
	width:400px;
	height:5px;
	border:3px rgb(154,150,132);
	background-color:rgb(172,167,146);
	bottom:5px;
	left: 5px;
	position: absolute;
}
