/*菜单*/
.menu-background{
	width: 280px;
	height: 500px;
	background-color:rgb(235,230,205);
    box-shadow:2px 2px 0px 0px rgb(152,151,130);
	transition: 0.6s /*cubic-bezier(0.48, -0.68, 0.48, 1.3)*/;
	position: absolute;
}
.menu{
	width: 270px;
	height: 475px;
	box-shadow: 0px 2px 0px 0px rgb(180,175,155) inset
				,0px -2px 0px 0px rgb(180,175,155) inset;
	padding:3px 0px 3px 0px;
	top:10px;
	overflow-y:scroll;
	position: relative;
}
.menu-list{
	width:200px;
	height: 30px;
	margin:10px 0px 10px 0px;
	position: relative;
}
/*外框*/
.menu-list-background{
	width:209px;
	height: 40px;
	top:-5px;
	margin:5px 0px 5px 0px;
	box-shadow: 0px 2px 0px 0px rgb(69,66,58) inset,
				0px -2px 0px 0px rgb(69,66,58) inset;
	opacity: 0;
	transition:0.2s;
	position: absolute;
}
/*背景*/
.menu-list-background2{
	width:0px;
	height: 30px;
	margin:5px 0px 5px 4px;
	transition: 0.2s;
	position: absolute;
}
.menu-list-content{
	height: 30px;
	line-height:30px;
	box-shadow:2px 0px 0px 0px rgb(121,108,88) inset;
	margin:5px 1px 5px 1px;
	padding-left:20px;
	transition: 0.2s /*cubic-bezier(0.48, -0.68, 0.48, 1.3)*/;
	position: absolute;
}
.menu-list:hover{
	transition: 0.2s;
	left:10px;
	transform: scale(1.1);
}
.menu-list:hover > .menu-list-background{
	opacity: 1;
	animation:menu-list-background 2s infinite;
	animation-delay: 1s ;
}
@keyframes menu-list-background
{
	0% {box-shadow: 0px 2px 0px 0px rgb(69,66,58) inset,
				0px -2px 0px 0px rgb(69,66,58) inset;}
	10% {box-shadow: 0px 2px 0px 0px rgb(69,66,58) inset,
				0px -2px 0px 0px rgb(69,66,58) inset;}
	50% {box-shadow: 0px 2px 0px 0px rgb(142,138,122) inset,
				0px -2px 0px 0px rgb(142,138,122) inset;}
	90% {box-shadow: 0px 2px 0px 0px rgb(69,66,58) inset,
				0px -2px 0px 0px rgb(69,66,58) inset;}
	100% {box-shadow: 0px 2px 0px 0px rgb(69,66,58) inset,
				0px -2px 0px 0px rgb(69,66,58) inset;}
}
.menu-list:hover > .menu-list-background2{
	width:205px;
	background: rgb(69,66,58);
	animation:menu-list-background2 2s infinite;
	animation-delay: 1s ;
}
@keyframes menu-list-background2
{
	0% {background:rgb(69,66,58);}
	10% {background:rgb(69,66,58);}
	50% {background:rgb(142,138,122);}
	90% {background:rgb(69,66,58);}
	100% {background:rgb(69,66,58);}
}
.menu-list:hover > .menu-list-content{
	color:rgb(235,230,205);
}
