.skillPanle{
	top:20px;
	left:100px;
	width: 500px;
	height: 500px;
	transition:0.6s;
	border: #000000 solid 1px;
	position: absolute;
}
.skillChassis{
	width: 500px;
	height: 500px;
	transition:0.6s;
	border: #000000 solid 1px;
	border-radius:500px;
	position: absolute;
}
.skillChassis:before{
	content: "";
	width: 300px;
	height: 500px;
	transition:0.6s;
	border: #000000 solid 1px;
	border-radius:500px;
	position: absolute;
}
.skillChassis:after{
	content: "";
}
