.steeringWheel{
	width: 30px;
	height: 30px;
	border-radius:60px;
	background-color:rgb(233,225,193);
	box-shadow: 0px 0px 2px 0px rgb(80,80,80),0px 0px 3px 0px rgb(80,80,80) inset;
	transition:0.2s;
	position: absolute;
}
/*箭头定位&方向控制*/
.steeringWheel-upperArrow{
	top:-30px;
	position: absolute;
}
.steeringWheel-rightArrow{
	left:60px;
	transform: rotateZ(90deg);
	position: absolute;
}
.steeringWheel-lowerArrow{
	top:60px;
	left:30px;
	transform: rotateZ(180deg);
	position: absolute;
}
.steeringWheel-leftArrow{
	top:30px;
	left:-30px;
	transform: rotateZ(270deg);
	position: absolute;
}

.steeringWheel-upperArrow
,.steeringWheel-rightArrow
,.steeringWheel-lowerArrow
,.steeringWheel-leftArrow{
	position: absolute;
}

/*箭头主图形整体控制*/
.steeringWheel-upperArrow-graphical
,.steeringWheel-rightArrow-graphical
,.steeringWheel-lowerArrow-graphical
,.steeringWheel-leftArrow-graphical{
	transition:0.6s;
	opacity:0.6;
}

.steeringWheel-upperArrow:hover > .steeringWheel-upperArrow-graphical
,.steeringWheel-rightArrow:hover > .steeringWheel-rightArrow-graphical
,.steeringWheel-lowerArrow:hover > .steeringWheel-lowerArrow-graphical
,.steeringWheel-leftArrow:hover > .steeringWheel-leftArrow-graphical{
	opacity:1;
}

/*阴影动画效果*/
.steeringWheel-upperArrow-shadow
,.steeringWheel-rightArrow-shadow
,.steeringWheel-lowerArrow-shadow
,.steeringWheel-leftArrow-shadow{
	opacity:0.4;
	pointer-events:none;
	width: 30px;
	height: 30px;
	position: absolute;
}
.steeringWheel-upperArrow-shadow-jsAnimation{
	transition:0.6s;
	opacity:0;
	transform: scale(2);
}

/*注释：为了产生预期的效果，在 CSS 定义中，a:active 必须位于 a:hover 之后！！*/
/*
.steeringWheel-upperArrow:active
,.steeringWheel-rightArrow:active
,.steeringWheel-lowerArrow:active
,.steeringWheel-leftArrow:active{
	transform:scale(3);
	opacity:0;
}
*/
/*箭头图形构成*/
.steeringWheel-arrow1{
	width: 30px;
	height: 30px;
	background: linear-gradient(135deg,rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(255,255,255,0)51%,rgba(255,255,255,0)100%);
	transform: rotate(45deg) skew(30deg,30deg) ;
	border-radius:2px;
	position: absolute;
}
.steeringWheel-arrow2{
	width: 30px;
	height: 30px;
	background: linear-gradient(-45deg,rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(255,255,255,0)51%,rgba(255,255,255,0)100%);
	transform: rotate(45deg)  scale(0.42);
	border-radius:2px;
	position: absolute;
}
.steeringWheel-arrow3{
	width: 30px;
	height: 30px;
	background-color: rgb(235,230,205);
	border-radius:30px;
	transform: scale(0.15);
	position: absolute;
}
.steeringWheel-arrow4{
	top:21px;
	left:5px;
	width: 4px;
	height: 4px;
	background-color: rgb(0,0,0);
	border-radius:30px;
	position: absolute;
}
.steeringWheel-arrow5{
	top:21px;
	left:21px;
	width: 4px;
	height: 4px;
	background-color: rgb(0,0,0);
	border-radius:30px;
	position: absolute;
}
